.contents {
  position: absolute;
  top: 0%;
  z-index: 1000;
  color: white;
  &__container {
    background-color: rgba(31, 27, 27, 0.4);
    font-family: oxaniumSemiBold;
    padding: 0.75rem 2rem;
  }
  &__current {
    // color: white;
    font-family: robotoMonoBold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30vh;
    &--row {
      #current-day {
        font-family: robotoMonoLight;
        font-size: 1.25rem;
      }
    }
  }
  &__season {
    color: lightgrey;
  }
  &__past {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    &--container {
      font-family: robotoMonoLight;
      background-color: rgba(0, 0, 0, 0.1);
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      width: 45vw;
      margin-right: 0.5rem;
      &-column {
        .day {
          margin: 0;
          font-family: robotoMonoBold;
          color: lightgrey;
          font-size: 1.15rem;
        }
      }
    }
  }
}
