.contents {
  position: absolute;
  top: 0%;
  z-index: 1000;
  color: white;
  &__container {
    background-color: rgba(31, 27, 27, 0.4);
    padding: 0.75rem 0.5rem;
  }
  &__current {
    // color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30vh;
    &--row {
      #current-day {
        font-size: 1.25rem;
      }
    }
  }
  &__past {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    &--container {
      background-color: rgba(0, 0, 0, 0.1);
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      width: 45vw;
      &-column {
        .day {
          font-size: 1.15rem;
        }
      }
    }
  }
}
