@font-face {
  font-family: oxaniumSemiBold;
  src: url("../assets/fonts/Oxanium-SemiBold.ttf");
}
@font-face {
  font-family: robotoMonoBold;
  src: url("../assets/fonts/RobotoMono-Bold.ttf");
}
@font-face {
  font-family: robotoMonoLight;
  src: url("../assets/fonts/RobotoMono-Light.ttf");
}
